<?xml version="1.0"?>
<!--
 ~ Copyright © Soft Commerce Ltd. All rights reserved.
 ~ See LICENSE.txt for license details.
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="softcommerce_p2p" frontName="softcommerce_p2p">
            <module name="SoftCommerce_P2p" before="Magento_Backend" />
        </route>
    </router>
</config>
